@import url("reset.css");

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/*
  ========================================
  Clearfix
  ========================================
*/

*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  *zoom: 1;
}


/*
  ========================================
  Custom styles section
  ========================================
*/

* {

}



/*
  ========================================
  LINKS section
  ========================================
*/
 



/*
  ========================================
  Navigation
  ========================================
*/

.main-nav{
  float: right;
  margin: 20px;
}

.footer-nav {
  display: inline-block;
}

#footer-nav-right {
  float: right;
}

.main-nav li, .footer-nav li {
  display: inline-block;
  padding-right: 20px;
  vertical-align: middle;
}

.main-nav li:last-child, .footer-nav li:last-child {
  padding-right: 0;
}

/*
  ========================================
  MAIN-CONTENT section
  ========================================
*/

.main-content {
  padding: 120px 0 190px 0;
}

.main-content div {
  text-align: center;
}

#logo {
  margin-bottom: 20px;
}

.country {
  color: #4285f4;
  font: 16px/16px roboto-regular, arial, sans-serif;
}

#search-text {
  display: block;
  padding: 5px;
  margin: 15px auto;
  font-size: 18px;
  width: 550px;
  background: url("../img/mic.png") 0 0 no-repeat;
  background-size: auto 75%;
  background-position: right;
  border: 1px solid #ddd;
}

input[type=button] {
  padding: 5px 10px;
  margin-right: 15px;
}


/*
  ========================================
  HEADER section
  ========================================
*/

header {
}

/*
  ========================================
  FOOTER section
  ========================================
*/

footer {
  background-color: #f2f2f2;
  border-top: 1px solid #bbb;
  padding: 15px;
  /*padding: 5px 15px 5px;*/
}