@import url("reset.css");

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/*
  ========================================
  Clearfix
  ========================================
*/

*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  *zoom: 1;
}


/*
  ========================================
  Custom styles section
  ========================================
*/



/*
  ========================================
  LINKS section
  ========================================
*/
 



/*
  ========================================
  Navigation
  ========================================
*/

.main-nav{
  float: right;
  margin: 20px;
}

li {
  display: inline-block;
  padding-right: 20px;
  vertical-align: middle;
}

li:last-child {
  padding-right: 0;
}

/*
  ========================================
  MAIN-CONTENT section
  ========================================
*/

.main-content {
  padding: 120px 0 180px 0;
}

.main-content div {
  text-align: center;
}

#logo {
  margin-bottom: 20px;
}

input[type=text] {
  display: block;
  margin: 10px auto;
  width: 600px;
}


/*
  ========================================
  HEADER section
  ========================================
*/

header {
  /*position: relative;*/
}

/*
  ========================================
  FOOTER section
  ========================================
*/

.footer-nav {
  display: inline-block;
  margin-bottom: 20px;
}

#footer-nav-right {
  float: right;
}