@import url("reset.css");

/*
  ========================================
  Custom styles section
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ========================================
  Clearfix
  ========================================
*/

*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  *zoom: 1;
}


/*
  ========================================
  LINKS section
  ========================================
*/
 
 a {
  text-decoration: none;
  color: #777;
 }

 .main-nav a {
  color: #333;
 }

 .nav a:hover {
  text-decoration: underline;
 }
 
/*
  ========================================
  Navigation
  ========================================
*/

.main-nav {
  float: right;
  margin: 20px;
  font-size: 16px;
}

.footer-nav {
  display: inline-block;
}

#footer-nav-right {
  float: right;
}

.main-nav li, .footer-nav li {
  display: inline-block;
  padding-right: 20px;
  vertical-align: middle;
}

.main-nav li:last-child, .footer-nav li:last-child {
  padding-right: 0;
}

/*
  ========================================
  MAIN-CONTENT section
  ========================================
*/

.main-content {
  padding: 120px 0 175px 0;
}

.main-content div {
  text-align: center;
}

#logo {
  margin-bottom: 20px;
  position: relative;
}

.country {
  color: #4285f4;
  font: 16px/16px roboto-regular, arial, sans-serif;
}

#search-text {
  display: block;
  padding: 5px;
  margin: 25px auto;
  font-size: 18px;
  width: 550px;
  background: url("../img/mic.png") 0 0 no-repeat;
  background-size: auto 75%;
  background-position: right;
  border: 1px solid #ddd;
}

input[type=button] {
  padding: 5px 10px;
  margin-right: 15px;
  font-weight: bold;
  color: #777;
  height: 40px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
}

input[type=button]:hover, input[type=button]:focus{
  background-color: #f2f2f2;
  border-color: #c6c6c6;
  color: #222;
}

/*
  ========================================
  HEADER section
  ========================================
*/

.main-nav li:last-child img {
  border-radius: 50%;
}

/*
  ========================================
  FOOTER section
  ========================================
*/

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #f2f2f2;
  border-top: 1px solid #bbb;
  padding: 15px;
}

.footer-nav {
  margin: 0 10px;
}